.notification {
  $type-info-shadow-color: #cad0d3; 
  $type-success-shadow-color: #cad3cb;
  $type-error-shadow-color: #d3caca;

  display: inline-block;
  position: relative;
  top: -15px;
  margin: 0 auto;
  max-width: 600px;
  max-height: 150px;
  pointer-events: auto;
  transition: top .3s ease-out, max-height .5s ease-out;

  &_fading_in {
    top: 0;
  }

  &_fading_out {
    max-height: 0;
  }

  &__content {
    display: flex;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 15px;
    font-weight: 500;
    opacity: 0;
    transition: opacity .3s ease-out;
  }

  &_fading_in &__content {
    opacity: 1;
  }

  &_type_info &__content {
    background: $bg-color-1;
    border: 2px solid $color-blue;
    box-shadow: 0 0 10px 1px $type-info-shadow-color;
  }

  &_type_success &__content {
    background: $bg-color-1;
    border: 2px solid $color-green;
    box-shadow: 0 0 10px 1px $type-success-shadow-color;
  }

  &_type_error &__content {
    background: $bg-color-1;
    border: 2px solid $color-red;
    box-shadow: 0 0 10px 1px $type-error-shadow-color;
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }

  &_type_info &__icon {
    color: rgb(110, 209, 255);
  }

  &_type_success &__icon {
    color: rgb(115, 255, 110);
  }

  &_type_error &__icon {
    color: $color-red;
  }

  &__text {
    margin: 0;
    line-height: 20px;
  }
}
