.feed {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: var(--bg1);
}

/* .posts-list {
  position: relative;
  background: #161616;
} */



/*POST*/
/* 

@keyframes postAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.post {
  position: relative;
  border-top: 1px solid var(--bc1);
  background: var(--bg1);
  animation: postAnimation .4s ease-in-out;
}

.post.feed-view:hover {
  background: var(--bhc);
}

.post .content-wrapper {
  display: flex;
  padding: 15px 15px 20px;
}

.post.feed-view .content-wrapper {
  cursor: pointer;
}

.post:first-child {
  border-top: none;
}

.post:last-child {
  border-bottom: 1px solid var(--bc1);
}

.post .avatar {
  display: block;
  position: relative;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
}

.post .avatar:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--bgmain);
  opacity: 0;
  transition: opacity .1s linear;
}

.post .avatar:hover:after {
  opacity: .3;
}

.post .avatar-container {
  flex-shrink: 0;
}

.post .post-contents {
  flex-grow: 1;
}

.post .post-contents .heading {
  display: flex;
  line-height: 20px;
  margin-bottom: 5px;
}

.post .post-contents .profile-name {
  font-size: 16px;
  font-weight: 600;
  margin-right: 8px;
}

.post .post-contents .profile-name:hover {
  text-decoration: underline;
}

.post .post-contents .datetime-created {
  font-size: 14px;
  color: var(--tc1);
} */

.post-view_content .option .option-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  white-space: nowrap;
  font-size: 15px;
  color: var(--tc1);
}

.post-view_content .option .option-link:hover {
  transition: color .1s linear;
  background: var(--bhc);
  color: #fff;
}

.post-view_content .option.delete .option-link {
  color: var(--cred);
}
/* 
.post .bottom-panel {
  display: flex;
  border-top: 1px solid var(--bc2);
}

.post .bottom-panel button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10px 0;
  background: inherit;
  color: var(--tc1);
}

.post .bottom-panel button:not(:last-child) {
  border-right: 1px solid var(--bc2);
}

.post .bottom-panel button:hover {
  color: var(--cblue);
}

.post .bottom-panel button .bpbutton_wrapper {
  display: flex;
  position: relative;
}

.post .bottom-panel button svg {
  position: relative;
  font-size: 18px;
  z-index: 1;
} */

/* @keyframes likeAnimation {
  0% {
  box-shadow: 0 0 5px 5px #fff;
  opacity: 1;
  }
  80% {
  box-shadow: 0 0 13px 10px var(--cblue);
  }
  to {
  opacity: 0;
  }
} */

/* .post .bottom-panel button.like .bpbutton_wrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  background: transparent;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.post .bottom-panel button.like.liked .bpbutton_wrapper:after {
  animation: likeAnimation .5s linear;
}

.post .bottom-panel span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(100% + 6px);
  top: 0;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
} */




.post-view {
  position: relative;
  background: var(--bg1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-view_content {
  position: relative;
  border-bottom: 2px solid var(--bc1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
}

.post-view_content .content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 30px;
}

.post-view_content .author {
  display: flex;
  align-items: center;
}

.post-view_content .avatar {
  margin-right: 20px;
  height: 56px;
  width: 56px;
  background-size: cover;
  border-radius: 50%;
}

.post-view_content .avatar-container {
  flex-shrink: 0;
}

.post-view_content .post-contents {
  padding: 0 5px;
  flex-grow: 1;
}

.post-view_content .heading {
  display: flex;
  line-height: 20px;
  margin-bottom: 15px;
}

.post-view_content .heading .post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-view_content .heading .profile-name {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

.post-view_content .heading .profile-name:hover {
  text-decoration: underline;
}

.post-view_content .heading .datetime-created {
  font-size: 15px;
  color: var(--tc1);
}

.post-view_content .heading .profile-tag {
  padding-top: 4px;
  font-size: 16px;
  color: var(--tc1);
}

.post-view_content .options {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #cfcfcf;
}

.post-view_content .options .options-wrapper {
  position: relative;
}

.post-view_content .options .list-container {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 0;
  background: var(--bgmain);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 var(--bscmain);
  z-index: 3;
  overflow: hidden;
}

.post-view_content .options .list-container.active {
  display: flex;
  max-height: 500px;
  transition: max-height .4s linear;
}

.post-view_content .options .open-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: inherit;
  font-size: 18px;
  border: none;
  border-radius: 50%;
}

.post-view_content .options .open-list:hover {
  background: var(--bgshade);
}

.post-view_content .options .open-list svg {
  height: 18px;
  vertical-align: 0;
  transition: color .1s linear;
  color: var(--tc1);
}

.post-view_content .options .open-list:hover svg {
  color: var(--cblue);
}

.post-view_content .options .list {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.post-view_content .options .option {
  position: relative;
}

.post-view_content .options .option:not(:last-child):after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background: var(--bc1);
}

.post-view_content .options .option .icon {
  margin-right: 6px;
}

.post-view_content .bottom-panel {
  display: flex;
  /* padding: 0 15px; */
  border-top: 1px solid var(--bc2);
}

.post-view_content .bottom-panel button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 10px 0;
  background: inherit;
  color: var(--tc1);
}

.post-view_content .bottom-panel button:not(:last-child) {
  border-right: 1px solid var(--bc2);
}

.post-view_content .bottom-panel button:hover {
  /* background: var(--bgshade); */
  color: var(--cblue);
}

.post-view_content .bottom-panel button .bpbutton_wrapper {
  display: flex;
  position: relative;
}

.post-view_content .bottom-panel button svg {
  position: relative;
  font-size: 18px;
  z-index: 1;
}

.post-view_content .bottom-panel button.like .bpbutton_wrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  background: transparent;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.post-view_content .bottom-panel button.like.liked .bpbutton_wrapper:after {
  animation: likeAnimation .5s linear;
}

.post-view_content .bottom-panel span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(100% + 6px);
  top: 0;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
}

/* .post-view .comments {
  position: relative;
  background: inherit;
} */

/* .post-view .comments .comment .content-wrapper {
  padding-bottom: 10px;
}

.post-view .comments .comment .bottom-panel {
  border: none;
  padding: 0 85px;
}

.post-view .comments .comment .bottom-panel button {
  padding: 10px 30px 10px 0;
  flex-grow: 0;
  border: none;
} 

.post-view .comments .comment .heading {
  flex-direction: column;
}

.post-view .comments .comment .heading .answer-to {
  font-size: 14px;
  margin-top: 3px;
  color: var(--tc1);
}

.post-view .comments .comment .heading .answer-to a {
  color: var(--cblue);
}

.post-view .comments .comment .heading .answer-to a:hover {
  color: var(--cbblueactive);
} */

/* .load-more_container {
  position: relative;
  background: inherit;
  border-top: 2px solid var(--bc1);
}

.feed-load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  font-size: 16px;
  color: var(--tc1);
}

.feed-load-more:hover {
  background: var(--bhc);
}

.load-more_container .loading-content {
  min-height: 0;
  padding: 10px 0;
} */

/* @keyframes syncing {
  from {opacity: 0;}
  to {opacity: .8;}
}

.syncing-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--bg1);
  opacity: .8;
  z-index: 2;
  animation: syncing .2s linear;
} */

/* .feed-no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

.feed-no-data b {
  font-size: 20px;
  margin-bottom: 5px;
}

.feed-no-data span {
  font-size: 18px;
} */