.update-avatar_form {
  position: relative;
}

.update-avatar_compare {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--bgshade);
}

.update-avatar_compare > * {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 20px 30px;
}

.update-avatar_compare .new-avatar .image-preview {
  height: 160px;
  width: 160px;
  border: 2px solid var(--bc1);
  border-radius: 50%;
  background: center no-repeat var(--bg1);
  background-size: cover;
}

.update-avatar_compare .new-avatar:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0%;
  height: 100%;
  width: 1px;
  background: var(--bc1);
}


.update-avatar_compare .old-avatar img {
  height: 160px;
  width: 160px;
  border: 2px solid var(--bc1);
  border-radius: 50%;
}

.update-avatar_compare span {
  font-size: 20px;
  margin-bottom: 10px;
}

.update-avatar_modify {
  margin: 0 50px;
}

.update-avatar_modify img {
  display: block;
  position: absolute;
  height: 160px;
  cursor: move;
}

.update-avatar_modify .modify-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 400px;
  background: var(--bg1);
  overflow: hidden;
}

.update-avatar_modify .cut-area {
  height: 160px;
  width: 160px;
  border: 2px solid #000;
  z-index: 10;
  pointer-events: none;
  box-shadow: 0 0 500px 500px rgba(0, 0, 0, 0.5);
}

.update-avatar_modify .modify-range {
  display: flex;
  width: 100%;
  padding: 20px 0 10px;
}

.update-avatar_modify .modify-range input {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  background: inherit;
}

.update-avatar_modify .modify-range input::-webkit-slider-runnable-track {
  height: 3px;
  background: var(--cblue);
  -webkit-appearance: none;
}
  
.update-avatar_modify .modify-range input::-webkit-slider-thumb {
  position: relative;
  top: -9px;
  width: 22px;
  height: 22px;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #434343;
  box-shadow: 2008px 0 0 2000px rgba(22, 22, 22, 0.5);
}

.actacc-container {
  max-width: 620px;
  color: var(--tc1);
}

.actacc-container .message {
  margin-bottom: 20px;
}

.actacc-container .send-new {
  display: flex;
  font-size: 15px;
}

.actacc-container .send-new button {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  color: #fff;
  line-height: 100%;
  font-family: inherit;
  font-size: inherit;
}

.actacc-container .send-new button:hover {
  color: var(--cblue);
}

.actacc-container .sending-message {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  color: var(--cblue);
}

.actacc-container .sending-message span {
  margin-right: 5px;
}

.actacc-container .sending-message svg path {
  fill: var(--cblue);
}

.actacc-container .sending-cooldown {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  color: #fff;
}

.actacc-container .sending-cooldown span {
  margin-left: 5px;
}

.confirm-action_container {
  position: relative;
  background-color: inherit;
}

.confirm-action_container .text {
  margin-bottom: 5px;
}

.confirm-action_container .text > * {
  margin-bottom: 3px;
  text-align: center;
}