@keyframes likeAnimation {
  0% {
    box-shadow: 0 0 5px 5px #fff;
    opacity: 1;
  }
  
  80% {
    box-shadow: 0 0 13px 10px $color-blue;
  }

  100% {
    opacity: 0;
  }
}

@keyframes authBgOpacity {
  from { 
    opacity : 0; 
  }
  
  to { 
    opacity : 1; 
  }
}