* {
  box-sizing: border-box; 
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  background: #080808;
  color: #fff;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a.link-blue:hover {
  color: $color-blue;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 100%;
  outline: none;
}

button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.app {
  min-height: 100vh;
}

.application-wrapper {
  align-items: flex-start;
  padding: 30px 0;
}