:root {
  --bgmain: #080808;
  --bg1: #161616;
  --bc1: #6c6c6c; 
  --bc2: #323232; 
  --tc1: #cfcfcf;
  --bhc: #1d1d1d;
  --bgshade: rgba(0, 0, 0, .3);
  --bscmain: rgb(216, 216, 216);
  --cblue: rgb(110, 209, 255);
  --cgreen: rgb(115, 255, 110);
  --cred: rgb(255, 110, 110);
  --cbgreen: rgb(107, 173, 105);
  --cbgreenactive: rgb(19, 129, 16);
  --cbblue: rgb(97, 155, 183);
  --cbblueactive: rgb(16, 108, 153);
  --cbredactive: rgb(201, 35, 35);
}

* {
  box-sizing: border-box; 
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  background: #080808;
  color: #fff;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a.link-blue:hover {
  color: var(--cblue);
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 100%;
  outline: none;
}

button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.app {
  min-height: 100vh;
}

.pos-r {
  position: relative;
}

.no-pi {
  pointer-events: none;
}

.pi {
  pointer-events: all;
}

.ta-center {
  text-align: center;
}

.global-mask {
  display: none;  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
}

.global-mask.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-mask img {
  width: 110px;
  height: 110px;
  padding: 20px;
  background: rgba(120, 120, 120, 0.7);
  border-radius: 50%;
}

.loading-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-height: 100px;
  padding: 20px 0;
  z-index: 50;
}

.loading-content svg path {
  fill: #d3d3d3;
}

.application-wrapper {
  align-items: flex-start;
  padding: 30px 0;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0 10px;
}

.buttons-container .btn:last-child {
  margin-right: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  margin-right: 5px;
  background: var(--bg1);
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  appearance: none;
  outline: none;
  border: 2px solid var(--bc1);
  border-radius: 16px;
  transition: 
    background-color .1s linear,
    color .1s linear,
    border-color .1s linear;
}

.btn:last-child {
  margin-right: 0;
}

.btn:not(.fill):hover {
  background: var(--bhc);
  color: var(--cblue);
  border-color: var(--cblue);
}

.btn:disabled {
  background: var(--bc2) !important;
  color: var(--bc1) !important;
}

.btn:disabled:hover {
  background-color: var(--bc2) !important;
  color: var(--bc1) !important;
  border-color: var(--bc1) !important;
}

.btn svg {
  margin-right: 10px;
}

.btn:not(.fill).success:hover {
  color: var(--cgreen); 
  border-color: var(--cbgreen); 
}

.btn:not(.fill).error:hover {
  color: var(--cred); 
  border-color: var(--cred); 
}

.btn:not(.fill).info:hover {
  color: var(--cblue); 
  border-color: var(--cblue); 
}

.btn.fill {
  border: none;
  padding: 7px 13px;
}

.btn.success.fill {
  background: var(--cbgreen); 
}

.btn.success.fill:hover {
  background: var(--cbgreenactive); 
}

.btn.error.fill {
  background: var(--cred);
}

.btn.error.fill:hover {
  background: var(--cbredactive); 
}

.btn.info.fill {
  background: var(--cbblue);
}

.btn.info.fill:hover {
  background: var(--cbblueactive); 
}

.btn.to-right {
  margin-left: auto;
}

/*input styles*/

.default-form .input-container {
  position: relative;
  width: 100%;
  background: var(--bg1);
  color: #fff;
}

.default-form .input-container:not(:last-child) {
  margin-bottom: 20px;
}

.default-form .input-container label {
  position: absolute;
  left: 12px;
  top: 16px;
  line-height: 24px;
  font-size: 18px;
  cursor: text;
  color: var(--tc1);
  transition: 
    top .05s linear,
    color .05s linear,
    font-size .05s linear;
}

.default-form .input-container input,
.default-form .input-container textarea {
  min-width: 100%;
  max-width: 100%;
  width: inherit;
  padding: 26px 10px 8px;
  background: var(--bg1);
  border: 2px solid var(--bc1);
  border-radius: 5px;
  line-height: 20px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  transition: 
    border-color .1s linear;
}

.default-form .input-container input:focus,
.default-form .input-container textarea:focus {
  border-color: var(--cblue);
}

.default-form .input-container input:focus + label,
.default-form .input-container input[data-empty='false'] + label,
.default-form .input-container textarea:focus + label,
.default-form .input-container textarea[data-empty='false'] + label {
  top: 2px;
  width: calc(100% - 78px);
  padding: 2px 0;
  font-size: 14px;
  line-height: 16px;
  background: var(--bg1);
}

.default-form .input-container input::-webkit-input-placeholder,
.default-form .input-container textarea::-webkit-input-placeholder {
  color: var(--tc1);
}

.default-form .input-container input::-moz-placeholder,
.default-form .input-container textarea::-moz-placeholder {
  color: var(--tc1);
}

.default-form .input-container input:focus + label,
.default-form .input-container textarea:focus + label {
  color: var(--cblue);
}

.default-form .input-container.thin input,
.default-form .input-container.thin textarea {
  padding: 8px 10px 8px;
}

.default-form .input-container .validation-requirements {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  pointer-events: none;
}


.default-form .input-container .validation-requirements > .val-req {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 6px 5px;
  margin-top: 5px;
  background: var(--bg1);
  border: 2px solid var(--cblue);
  border-radius: 5px;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  pointer-events: all;
}

.default-form .input-container .validation-requirements > .val-req[data-validated="false"] {
  border-color: var(--cred);
}

.default-form .input-container .validation-requirements > .val-req svg {
  margin-left: 3px;
  font-size: 9px;
}

.default-form .input-container .validation-requirements + textarea,
.default-form .input-container .validation-requirements + input {
  padding-right: 66px;
}

.default-form .input-container .validation-requirements + textarea::-webkit-scrollbar {
  display: none;
}

.default-form .input-container input[data-validated="false"],
.default-form .input-container textarea[data-validated="false"] {
  border-color: var(--cred);
}

.greeting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.greeting-wrapper {
  display: flex;
  width: 650px;
  background: linear-gradient(0deg, var(--cblue) 0%, var(--cbblueactive) 100%);
  border-radius: 10px;
  overflow: hidden;
}

.greeting-wrapper .heading {
  position: relative;
  flex-shrink: 0;
  width: 50%;
  background: var(--bg1) center no-repeat;
  background-size: 0px 0px;
  box-shadow: 0 0 10px 5px var(--bg1) inset;
  transition: background-image .1s linear;
}

@keyframes authBgOpacity {
  from { opacity : 0; }
  to { opacity : 1; }
}

.greeting-wrapper .heading:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: inherit;
  background-size: cover;
  z-index: 1;
  box-shadow: 0 0 10px 5px var(--bg1) inset;
  animation: authBgOpacity .6s ease-in-out;
}

.greeting-wrapper .heading h1 {
  position: relative;
  margin: 0;
  padding: 20px;
  background: rgba(22,22,22,.85);
  text-align: center;
  z-index: 2;
}

.greeting-wrapper .auth-options {
  padding: 14px;
}

.greeting-wrapper .auth-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px;
  background: var(--bg1);
  border-radius: 10px;
  overflow: hidden;
}

.greeting-wrapper .auth-option.login {
  margin-bottom: 14px;
}

.greeting-wrapper .auth-option .auth-option_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.greeting-wrapper .auth-option .auth-option_heading h2 {
  margin: 0 0 10px;
  font-size: 22px;
}

.greeting-wrapper .auth-option .auth-option_heading span {
  text-align: center;
}

.greeting-wrapper form {
  width: 80%;
  margin-bottom: 10px;
}

.greeting-wrapper .input-container:not(:last-child) {
  margin-bottom: 12px;
}   

.greeting-wrapper .btn {
  padding-left: 15px;
  padding-right: 15px;
}

.greeting-wrapper .btn svg {
  height: 18px;
  width: 18px;
  margin: 1px;
}