$main-bg-color: #080808;
$bg-color-1: #161616;
$border-color-light: #6c6c6c;
$border-color-dark: #323232;
$text-color: #cfcfcf;
$button-hover-color: #1d1d1d;

$background-shade: rgba(0, 0, 0, .3);
$box-shadow-glow-color: rgb(216, 216, 216);

$color-blue: rgb(110, 209, 255);
$color-green: rgb(115, 255, 110);
$color-red: rgb(255, 110, 110);

$button-color-blue: rgb(97, 155, 183);
$button-color-green: rgb(107, 173, 105);

$button-color-blue-active: rgb(16, 108, 153);
$button-color-green-active: rgb(19, 129, 16);
$button-color-red-active: rgb(201, 35, 35);