.load-more {
  position: relative;
  background: inherit;
  border-top: 2px solid $border-color-light;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 46px;
    font-size: 16px;
    color: $text-color;

    &:hover {
      background: $button-hover-color;
    }
  }

  // @TODO УБРАТЬ
  .loading-content {
    min-height: 0;
    padding: 10px 0;
  }
}