.post-options {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #cfcfcf;

  &__wrapper {
    position: relative;
  }

  &__open {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: inherit;
    font-size: 16px;
    border: none;
    border-radius: 50%;

    svg {
      height: 16px;
      vertical-align: 0;
      transition: color .1s linear;
      color: $text-color;
    }
    
    &:hover {
      background: $background-shade;

      svg {
        color: $color-blue;
      }
    }
  }

  &_big &__open-button {
    width: 32px;
    height: 32px;
    font-size: 18px;

    svg {
      height: 18px;
    }
  }

  &__list-container {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 0;
    background: $main-bg-color;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 $box-shadow-glow-color;
    z-index: 3;
    overflow: hidden;

    &_active {
      display: flex;
      max-height: 500px;
      transition: max-height .4s linear;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }

  &__option {
    position: relative;

    &:not(:last-child):after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 10px;
      width: calc(100% - 20px);
      height: 1px;
      background: $border-color-light;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 15px;
    color: $text-color;

    &:hover {
      transition: color .1s linear;
      background: $button-hover-color;
      color: #fff;
    }

    &_type_delete {
      color: $color-red;

      &:hover {
        color: $color-red;
      }
    }
  }

  &__option-icon {
    margin-right: 6px;
  }
}

