.drag-n-drop {
  position: relative;
  min-width: 500px;
  padding: 30px;
  font-size: 16px;
  font-weight: 500;
  border: 2px dashed rgb(156, 156, 156);
  border-radius: 10px;

  &_dropping {
    border-color: rgb(106, 200, 255);
    transition: border-color .08s linear, box-shadow .08s linear;
    box-shadow: 0 0 25px 1px rgb(106, 200, 255) inset;
  }

  &__drop-area {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    background: transparent;
    border-radius: 8px;
    transition: background-color .08s linear;
  }

  &_dropping &__drop-area {
    background: rgba(0,0,0,0.05);
    width: 100%;
    height: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    b {
      font-size: 26px;
    }

    span {
      margin: 10px 0 15px;
    }

    input {
      display: none;
    }

    label {
      display: block;
      padding: 7px 15px;
      margin: 0px 20px;
      border: 2px solid rgb(156, 156, 156);
      border-radius: 20px;
      font-size: 18px;
      color: rgb(156, 156, 156);
      cursor: pointer;
      transition: color .1s linear, border-color .1s linear;

      &:hover {
        color: rgb(106, 200, 255);
        border-color: rgb(106, 200, 255);
      }      
    }
  }
}
