.post {
  position: relative;
  border-top: 1px solid $border-color-light;
  background: $bg-color-1;
  animation: postAnimation .4s ease-in-out;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid $border-color-light;
  }

  &_type_feed {
    &:hover {
      background: $button-hover-color;
    }
  }

  &__wrapper {
    display: flex;
    padding: 15px 15px 20px;
  }

  &_type_feed &__wrapper {
    cursor: pointer;
  }

  &__avatar {
    flex-shrink: 0;

    &-link {
      display: block;
      position: relative;
      margin-right: 20px;
      height: 50px;
      width: 50px;
      background-size: cover;
      border-radius: 50%;

      @include avatarHoverFade;
    }
  }

  &__content-wrapper {
    flex-grow: 1;
  }

  &__heading {
    display: flex;
    line-height: 20px;
    margin-bottom: 5px;
  }

  &__profile-link {
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__datetime {
    font-size: 14px;
    color: $text-color;
  }

  &__panel {
    display: flex;
    border-top: 1px solid $border-color-dark;
  }
}