.empty-data-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  
  &__primary {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  &__secondary {
    font-size: 18px;
  }
}