.loading-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-height: 100px;
  padding: 20px 0;
  z-index: 50;

  &_bg_transparent {
    background: transparent;
  }

  &_bg_inherit {
    background: inherit;
  }

  &_bg_main {
    background: $bg-color-1;
  }

  &_weight_thin {
    min-height: 0;
    padding: 10px 0;
  }

  &_weight_clear {
    min-height: 0;
    padding: 0;
  }

  svg path {
    fill: #d3d3d3;
  }
}
